<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Simple Login Application</h1>
    <hr style="border: 3px inset #dddddd">
    <h2>Please <a href="/login">login</a> or <a href="/signup">register</a></h2>

</body>
</html>
